@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
:root {
  --purple-color: #633CFF;
  --fade-lightpurple-color: #BEADFF;
  --light-purple-color: #EFEBFF;
  --dark-color: #333333;
  --gray-color: #737373;
  --lightgrey-color: #D9D9D9;
  --almost-white-color: #FAFAFA;
  --white-color: #FFFFFF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  /* outline: 1px solid red; */


}
body{
  /* background-color: var(--almost-white-color); */
  /* margin: 0 clamp(0.5rem, 3vw, 1rem); */
}
.navigation-bar-container nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  padding: 3px clamp(0.5rem, 3vw, 1rem);
  gap: clamp(0.5rem, 3vw, 1rem);

  color: var(--gray-color);
  border-radius: 12px;
}
.app-logo-container{
  display: flex;
  align-items: center;
  gap: 2px;
}
.links-container{
  gap: 0;
  padding: 0;
  margin: 0;
}
.links-container .links{
  display: flex;
  gap: 8px;
  padding: 11px 20px 11px 20px;
}
 .preview-btn{
padding: 11px 20px 11px 20px;
gap: 1px;
border-radius: 8px;
opacity: 0px;
display: flex;
cursor: pointer;

  /* margin-right: clamp(0.5rem, 3vw, 14rem); */
}
.preview-btn:hover{
  background-color: var(--light-purple-color);
  font-weight: 400;
}

.links-container .links:hover{
  color: var(--purple-color);
  background-color: var(--light-purple-color);
  font-weight: 400;
  border-radius: 8px;
  
}
.preview-btn{
  border: 1px solid var(--purple-color);
  background-color: var(--white-color);

}
.appName{
  /* display: flex !important; */
  font-size: 2rem;
  color: var(--dark-color);
  font-weight: 600;
}

.logo-text{
  display: none;
}
*{
  /* outline: 1px solid red; */
}

/* LOGIN FORM PHONE SCREEN STYLING */
.login-form-container{ 
  margin: auto 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-form-container .headerr{
  margin-top: 30px;
}
.login-form{
  display: flex;
  flex-direction: column;
  margin: 64px 0;
}
.login-form .login-text{
  font-size: 24px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 8px;
  
}
.login-form .body-m, .body-m{
  font-size: 16px;
  font-weight: 400;
  font-family: "Instrument Sans", sans-serif;
  line-height: 24px;
  color: var(--gray-color);
}
.login-form .body-s{
  font-size: 12px;
  font-weight: 400;
  font-family: "Instrument Sans", sans-serif;
  line-height: 18px;
  color: var(--gray-color);
  margin-bottom: 20px;
}
.form-input-container{
  margin-top: 40px;
}

.login-form label{
  font-family: "Instrument Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--dark-color);
}


.form-input-container .input{
  position: relative;
  border: 1px solid var(--lightgrey-color);
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  /* gap: 12px; */
  margin-top: 4px;

}
/* SVGs for the input fields */
.form-input-container .input svg{
  margin-right: clamp(12px, 1vw, 12.5px);
  
}
*{

}
.form-input-container .input input{

  width: 60%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-color);
  line-height: 24px;
  border: none;
  outline: none;
  background-color: transparent;
}
.input-error-message{
  font-size: clamp(12px, 1vw, 12px);
  color: red;
  font-weight: 400;
}
.form-input-container .login-btn{
  width: 100%;
  border-radius: 8px;
  padding: 11px 27px 11px 27px;
  color: var(--white-color);
  background-color: var(--purple-color);
  border: none;
  font-size: 16px;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 24px;
  cursor: pointer;
}
/* login button */
.link-to-create-account{
  text-align: center;
  font-family: "Instrument Sans", sans-serif;
}
.link-to-create-account a{
  text-decoration: none;
}



/* add link page styling */
*{
  /* outline: 1px solid red; */
}
.home-page{
  background-color: var(--almost-white-color);
  padding: 16px 16px;


}
.add-link-container{
  margin-top: 16px;
}
.right-side{
  /* margin: 16px 16px; */
  background-color: var(--white-color);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 12px;
}
.hr{
  border: 12px solid green;
}
.add-edit-remove-link{
  text-align: center;
}
.add-link-btn-container{
  background-color: var(--almost-white-color);
  border-radius: 12px;
  margin-top: 24px;
  text-align: center;
  padding: 8px;
}
.right-side .right-side-top{
  margin-bottom: 40px;
}
.header-text{
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.add-link-btn{
  width: 100%;
  padding: 11px 27px 11px 27px;
  color: var(--purple-color);
  border: 1px solid var(--purple-color);
  border-radius: 8px;
  background-color: transparent;
  font-weight: 600;
}
.add-link-btn:hover{
  background-color: var(--light-purple-color);

}
.button-enabled{
  background-color: var(--purple-color);
}
.button-disabled{
  background-color: var(--fade-lightpurple-color);

}
.save-link-btn{
  padding: 11px 27px 11px 27px;
  color: var(--white-color);
  gap: 8px;
  width: 100%;
  align-items: center;
  font-family: "Instrument Sans", sans-serif;
  font-size: 16px;
  margin: 16px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  outline: none;
}
.add-link-container img{
  width: clamp(1rem 3vw 4rem);
  height: auto;
}
@media (min-width: 769px){
  .logo-text{
    display: flex;
  }
  .right-side{
    padding: 40px;
  }
  .add-link-container{
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .header-text{
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  }
  .add-edit-remove-link{
    text-align: left;
  }
  .pretext-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 70px;
  }
  .left-side{
    background-color: var(--white-color);
    margin-right: 24px;
    padding: 126.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .save-button-container{
    margin-top: 40px;
    margin-bottom: 24px;
  }
  .save-link-btn{
    display: flex;
    max-width: 91px;
    height: 46px;
    float: right;
  }
  .pretext-container img{
    margin-bottom: 40px;
  }
  .header-text{
    margin-bottom: 24px;
  }


/* LOGIN FORM */
/* header */
.app-logo-container{
  display: flex;
  align-items: center;
  justify-content: center !important;
}
.LOGIN-CONTAINER{
  background-color: var(--almost-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .login-form-h{
} */
.the-login-form{
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 8px;

}
  /* SIGN UP PAGE RESPONSIVENESS */
  .SIGN-UP{
    background-color: var(--almost-white-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form-container{
    /* margin-left: 470px;
    margin-right: 470px; */
    /* margin: auto 450px; */
  }
  .sign-up-form-container{
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;


  }
}
